<!DOCTYPE html>
<html class="mn">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
<body >
      
<nav class=" navbar  navbar-expand-lg navbar-lg-light ">
    <div class="container-fluid">
    <a class="navbar-brand" routerLink=""> Home</a>
    <a  class="navbar-brand" routerLink="/course/:id">About</a>
    <a  class="navbar-brand" routerLink=''>Contact</a>
    <a class="navbar-brand" routerLink="course">Courses</a>
</div>
    
    <input class= "in" matInput  type="text" [(ngModel)]="Name"
    placeholder="Search courses..." >
   
  <button   class="mee"    (click)="Search()" matSuffix>
        <mat-icon matSuffix>search</mat-icon>

  </button>


  </nav> 
  <h1 style="color: white;">Welcome to Code Base

  </h1>
  <h3 style="color:white">Get started by creating a free acount with us</h3>


<div class="container">
   
    <mat-card class="mat-elevation-z12">
       
        <mat-card-title  class= "title " style="text-align: center;">SignUp/SingIn Page</mat-card-title>
        <mat-tab-group>
            <mat-tab label="SignUp">
                <mat-card-content>
                    <form [formGroup]="profile" class= "d-flex ms-auto">
                        <mat-form-field class="name">
                            <mat-label>UserName</mat-label>
                            <input matInput  formControlName="username" placeholder="fullname"> 
                            <mat-icon matSuffix>perm_identity</mat-icon>

                            
                               <mat-error *ngIf="profile.get('username')?.hasError('required')">Input field is required</mat-error>
                
                           
                        </mat-form-field>

                        <mat-form-field class="email">
                           <mat-label>Email</mat-label>
                           <input matInput matNativeControl placeholder="Mail" type="email" formControlName="Email">
                           <mat-icon matSuffix>perm_identity</mat-icon>
                           <mat-error *ngIf="profile.get('Email')?.hasError('required')">Input field is required</mat-error>
                           <mat-error *ngIf="profile.get('Email')?.hasError('email')">Input a valid email</mat-error>
                        </mat-form-field>

                        <mat-form-field class="password">
                            <mat-label>Password</mat-label>
                            <input matInput matNativeControl placeholder="create a password" type="password" formControlName="password">
                            <mat-icon matSuffix>lock</mat-icon>
                            <mat-error *ngIf="profile.get('password')?.hasError('required')">Password is required</mat-error>
                            
                        </mat-form-field>
                        
                        <mat-form-field class="date">
                            <input [matDatepicker]="picker" matInput matNativeControl placeholder="DOB"  formControlName="DOB">
                           
                            <mat-datepicker-toggle [for]="picker"  matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #picker >
               
                            </mat-datepicker>
                            </mat-form-field>
                            <mat-error *ngIf="err" style="margin-left: 2em;">{{err}}</mat-error>
                  
                    </form>
                    <button  class="btn btn-primary" (click)="SignUp()">SignUp</button>
                    

                   
                </mat-card-content>
            </mat-tab>
                <mat-tab label="Login">
                    <mat-card-content>
                        <form [formGroup]="singIn">
                          
                        <mat-form-field class="new">
                            <mat-label>Full Name</mat-label>
                            <input matInput matNativeControl   formControlName="username" placeholder="UserName">
                            <mat-icon matSuffix>perm_identity</mat-icon>
                            <mat-error *ngIf="singIn.get('username')?.hasError('required')"> Username is required</mat-error>

                        </mat-form-field>
                        <mat-form-field class="new">
                            <mat-label>Password</mat-label>
                            <input matInput matNativeControl  formControlName="password"  placeholder="Enterpassword"  type="password">
                            <mat-icon matSuffix>lock</mat-icon>
                            <mat-error *ngIf="this.singIn.get('password')?.hasError('required')" > Password is required</mat-error>
                       

                        </mat-form-field>
                        <mat-error *ngIf="errorMessage" style="margin-left: 2em;">{{errorMessage}}</mat-error>
                        <mat-error *ngIf="err" style="margin-left: 2em;" >{{err}}</mat-error>
                    </form>
                    <button  class="btn btn-primary" (click)="Login()">SignUp</button>
                    
                    </mat-card-content>
                
                </mat-tab>
               
           
        </mat-tab-group>
    </mat-card>

</div>

</body>
</html>


